.vertical-alignment-container {
	height:100%;
	width:100%;
	display: table;
}

.vertical-alignment-content {
	display: table-cell;
	vertical-align:middle;
	float: none;
}

html {
	min-width:768px;
	width:100%;
	height:100%;
}

body {
	width:100%;
	height:100%;
}